%site-logo {
  padding: rem(10);

  .logo-img {
    margin: 0 rem(10) 0 0;

    img {
      border: none;
      max-width: rem(100);
      vertical-align: middle;
    }
  }

  .title-block {
    display: inline-block;
    // 画像といい感じに並んでるように見えるように、少しmargin-topを取る。
    //margin: rem(5) 0 0 0;
    vertical-align: middle;

    .title {
      line-height: 1;
      margin: 0;

      @include text-shadow-fff();
    }

    .title-link {
      color: #333333;
    }

    .tagline {
      color: #999999;
      font-size: $c-Large-font-size;
      line-height: 1;
      margin: rem(8) 0 0 0;
    }
  }
}
