/*******************************************************************************
 *
 * Application main CSS
 *   : Organized according to [MVCSS](http://mvcss.github.io/) style.
 *
 * アプリケーションのCSSファイルを読み込むためのファイル。
 *
 * 一時的にスタイルを追加したりして実験したいときには、
 * INBOX以下に書いて試せば、実験用だってのがわかりやすくて良いんだって。
 *
 *
 *******************************************************************************
 * Design Guideline
 * [Eight Times UI Guideline](http://ameblo.jp/ca-1pixel/day-20140507.html)が
 * なんかわかりやすそう。
 *
 * Definitions
 * 1. 余白やブロックサイズは、8の倍数で
 * 2. PCサイトの横幅は、1280pxで
 * 3. 隣り合う比率は、黄金比とフィボナッチ数列で
 *      フィボナッチ数列： 8, 16, 24, 40, 64, 120, 184, 304, 488, 792, 1280
 * 4. バナーガイドラインを考慮
 * 5. 最小余白は16pxで
 *
 * Exception rules
 * 1. 8の倍数で数値が合わない場合は、4の倍数を使っていい
 * 2. 罫線の1pxの含め方は都合よく解釈していい
 * 3. 8の倍数、4の倍数でも適応が難しい場合は余白ルールを大きく崩さない程度に
 *    1px単位で調整していい
 * 4. 最終的には、自分のセンスで判断する
 *
 ******************************************************************************/
@charset "utf-8";

@-ms-viewport {
  width: device-width
}

/*------------------------------------*
 * Utilities
 *------------------------------------*/
@import "compass";


/*------------------------------------*
 * Core
 *------------------------------------*/

/* ---------- Reset ---------- */
@import "core/reset";

/* ---------- Settings ---------- */
@import "core/settings";

/* ---------- Helpers ---------- */
@import "core/helpers";

/* ---------- Base ---------- */
@import "core/base";

/* ---------- Content ---------- */
@import "core/content";

/* ---------- Layout ---------- */
@import "core/layout";


/*------------------------------------*
 * Modules
 *------------------------------------*/

/* ---------- Global Header ---------- */
@import "module/header";

/* ---------- Main ---------- */
@import "module/main";

/* ---------- Sidebar ---------- */
@import "module/sidebar";

/* ---------- Footer ---------- */
@import "module/footer";

/* ---------- Syntax Highlight ---------- */
@import "module/main/syntax-highlight";


/*******************************************************************************
 *
 * INBOX
 *
 ******************************************************************************/
$primary-color: #008CBA;
$secondary-color: #e7e7e7;
$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;

$anchor-text-decoration: none;
$anchor-font-color: $primary-color;
$anchor-font-color-hover: scale-color($primary-color, $lightness: -14%);

/* Default Link Styles */
a {
  color: $anchor-font-color;
  text-decoration: $anchor-text-decoration;
  line-height: inherit;

  &:hover,
  &:focus { color: $anchor-font-color-hover; }

  img { border:none; }
}
