/*
# Application main CSS

Organized according to [MVCSS](http://mvcss.github.io/) style.

アプリケーションで使うCSSファイルを読み込むためのファイル。

一時的にスタイルを追加したりして実験したいときには、
INBOX以下に書いて試せば、実験用だってのがわかりやすくて良いんだって。
*/

/*
# Design Guideline

[Eight Times UI Guideline](http://ameblo.jp/ca-1pixel/day-20140507.html)が
なんかわかりやすそう。

## Definitions
1. 余白やブロックサイズは、8の倍数で
2. PCサイトの横幅は、1280pxで
3. 隣り合う比率は、黄金比とフィボナッチ数列で（8, 16, 24, 40, 64, 120, 184, 304, 488, 792, 1280）
4. バナーガイドラインを考慮
5. 最小余白は16pxで

## Exception rules
1. 8の倍数で数値が合わない場合は、4の倍数を使っていい
2. 罫線の1pxの含め方は都合よく解釈していい
3. 8の倍数、4の倍数でも適応が難しい場合は余白ルールを大きく崩さない程度に
   1px単位で調整していい
4. 最終的には、自分のセンスで判断する
*/

/*
# Modularization Guideline

SMACCSとかOOCSSとかMVCSSとかいろいろと良いやり方があるんだろうけど、
まだ勉強できてないし、試しながらやってみることにする。

## Markup policy

* 全体のレイアウトとかに関しては、タグに対してスタイルは当てない。絶対に。
* 記事に対しては、タグに対してだけでスタイル当てる（コードは除く）。


## Core

全画面共通で利用するものや、画面レイアウト全体に関わるものを定義する。

Normalize関連とarticleを除いて、HTMLタグに対するスタイル定義はしない。
（やったほうがお手軽かもしれないけど。。。）

* Normalize.css
* 画面共通の設定値
* スタイル定義のヘルパーや、SCSSのヘルパー関数
* HTMLタグに対するスタイル定義（主に、Normalize.cssの上書き）
* articleに対するスタイル定義
* 画面全体のレイアウト定義


### Layout

レイアウトは階層化して考える。親要素は、そこに含まれる直接の子要素の配置だけを定義する。

孫要素とかについては、子要素のレイアウト定義ファイルで定義するようにする。

個々の画面のmainのレイアウト定義は、partials配下に配置する。できれば、
slimファイルと階層を揃えたかったけど、何か上手く行かなそう。slimのpartialは、
partialsの中を見に行っちゃうし。。。

そもそも、ひとつのslimファイルに対して、レイアウト定義ファイルと
タイポグラフィ定義ファイルがある時点で、上手く行きそうにない。。。
どうしたら分かりやすいのか見当もつかない。


## Modules

個々の画面で直接使う部品を定義する。

基本的には、レイアウト定義とタイポグラフィ定義をextendして部品を構成する。
*/

 /*------------------------------------*
  Viewport
  *------------------------------------*/
@-ms-viewport {
  width: device-width
}

 /*------------------------------------*
  Utilities
  *------------------------------------*/
@import "compass";


 /*------------------------------------*
  Core
  *------------------------------------*/

 /* ---------- Reset ---------- */
@import "core/reset";

 /* ---------- Settings ---------- */
@import "core/settings";

 /* ---------- Helpers ---------- */
@import "core/helpers";

 /* ---------- Base ---------- */
@import "core/base";

 /* ---------- Content ---------- */
@import "core/content";

 /* ---------- Layout ---------- */
@import "core/layout";


 /*------------------------------------*
  * Modules
  *------------------------------------*/

 /* ---------- Syntax Highlight ---------- */
@import "module/syntax-highlight";

 /* ---------- Card style article ---------- */
@import "module/card-article";


/*
 # INBOX
*/

body {
  color: $text-color;
  background: $background;
}

.header {
  @include thalweg-bottom(0.1, 1);
}
