/*******************************************************************************
 *
 * Application main CSS
 *   : Organized according to [MVCSS](http://mvcss.github.io/) style.
 *
 * アプリケーションのCSSファイルを読み込むためのファイル。
 *
 * 一時的にスタイルを追加したりして実験したいときには、
 * INBOX以下に書いて試せば、実験用だってのがわかりやすくて良いんだって。
 *
 *
 *******************************************************************************
 * Design Guideline
 * [Eight Times UI Guideline](http://ameblo.jp/ca-1pixel/day-20140507.html)が
 * なんかわかりやすそう。
 *
 * Definitions
 * 1. 余白やブロックサイズは、8の倍数で
 * 2. PCサイトの横幅は、1280pxで
 * 3. 隣り合う比率は、黄金比とフィボナッチ数列で
 *      フィボナッチ数列： 8, 16, 24, 40, 64, 120, 184, 304, 488, 792, 1280
 * 4. バナーガイドラインを考慮
 * 5. 最小余白は16pxで
 *
 * Exception rules
 * 1. 8の倍数で数値が合わない場合は、4の倍数を使っていい
 * 2. 罫線の1pxの含め方は都合よく解釈していい
 * 3. 8の倍数、4の倍数でも適応が難しい場合は余白ルールを大きく崩さない程度に
 *    1px単位で調整していい
 * 4. 最終的には、自分のセンスで判断する
 *
 ******************************************************************************/
@charset "utf-8";

/*------------------------------------*
 * Utilities
 *------------------------------------*/
@import "compass";


/*------------------------------------*
 * Core
 *------------------------------------*/

/* ---------- Reset ---------- */
@import "core/reset";

/* ---------- Settings ---------- */
@import "core/settings";

/* ---------- Helpers ---------- */
@import "core/helpers";

/* ---------- Base ---------- */
@import "core/base";

/* ---------- Content ---------- */
@import "core/content";

/* ---------- Layout ---------- */
@import "core/layout";


/*------------------------------------*
 * Modules
 *------------------------------------*/


/*******************************************************************************
 *
 * INBOX
 *
 ******************************************************************************/
