markdown:

  # CSSでのマークアップの仕方

  初心者なりに考えてみる。

  HTMLは、タグで文書の意味的構造を表すように作るのがいいらしい。
  で、その文書をユーザにどう見せるかというデザインをCSSで定義するのが常道らしい。

  まず、意味的構造とデザインを結びつけていいんだろうか、というのがわからない。

  多分、CSSはクラスで当てろ、って聞いたことあるからやっちゃダメなんだと思う。

  でも、普通の本とかのデザイン考えると、意味的構造とデザインって結構強く結びついてると思う。

  それと合わせて考えると、なんとなく、記事部分はHTMLタグとCSSを結びつけることはそんなにおかしいことじゃないんじゃないかな、と思う。

  このサイトのデザインは、こんな感じで始めてみようと思う。

  * Normalizeはする。
  * 全体のレイアウトとかに関しては、タグに対してスタイルは当てない。絶対に。
  * 記事に対しては、タグに対してだけでスタイル当てる（コードは除く）。

