/*******************************************************************************
 *
 * Application base CSS
 *   : Organized according to [MVCSS](http://mvcss.github.io/) style.
 *
 * HTML要素の基本的なスタイルを定義するファイル。
 *
 * ここで設定する見た目が、デザイン上そのタグの基本的な見た目になる。
 *
 ******************************************************************************/
@charset "utf-8";

html {
  font-size: $base-font-size;
}

body {
  font-family: $base-font-family;
}


/*------------------------------------*
 * Block Content
 *------------------------------------*/


/*------------------------------------*
 * Inline Content
 *------------------------------------*/

/* ---------- Default Link Styles ---------- */
$anchor-font-color: #5b92a4;
$anchor-font-color-hover: scale-color($primary-color, $lightness: -14%);
a {
  color: $anchor-font-color;
  text-decoration: none;
  line-height: inherit;

  &:hover,
  &:focus {
    color: $anchor-font-color-hover;
  }

  img {
    border:none;
  }
}
