/*******************************************************************************
 *
 * Application CSS Helpers
 *   : Organized according to [MVCSS](http://mvcss.github.io/) style.
 *
 * * Placeholder selectors
 * * Functions
 * * Mixins
 * * Keyframes for animation
 *
 ******************************************************************************/
@charset "utf-8";

/*------------------------------------*
 * Placeholder selectors
 *------------------------------------*/


/*------------------------------------*
 * Functions
 *------------------------------------*/

/**
 * Returns $size in rem.
 * rem is calicurated based on $base-font-size
 * and rounded to two decimal places.
 */
@function rem($size, $base: $base-font-size) {
  $rem: round-to(remove-unit($size) / remove-unit($base), 2);
  @return #{$rem}rem;
}

@function remove-unit($value) {
  @return $value / ($value * 0 + 1);
}

@function round-to($value, $place) {
  $decimal: 1;
  @for $i from 1 through $place {
    $decimal: $decimal * 10;
  }
  @return round(($value * $decimal)) / $decimal;
}


/*------------------------------------*
 * Mixins
 *------------------------------------*/

/* ---------- ズルい線 ---------- */
@mixin thalweg-top($op1: .2, $op2: .3){
  border-top: 1px solid rgba(0, 0, 0, $op1);
  @include box-shadow(rgba(255, 255, 255, $op2) 0 1px 0 inset);
}

@mixin thalweg-bottom($op1: .2, $op2: .3){
  border-bottom: 1px solid rgba(0, 0, 0, $op1);
  @include box-shadow(rgba(255, 255, 255, $op2)0 1px 0);
}

@mixin thalweg-left($op1: .2, $op2: .3){
  border-left: 1px solid rgba(0, 0, 0, $op1);
  @include box-shadow (rgba(255, 255, 255, $op2) -1px 0 0);
}

@mixin thalweg-right($op1: .2, $op: .3){
  border-right: 1px solid rgba(0, 0, 0, $op1);
  @include box-shadow(rgba(255, 255, 255, $op2) -1px 0 0 inset);
}

/* ---------- ズルい線 ---------- */
@mixin text-shadow-fff($op : .7){
  text-shadow: -1px 1px rgba(0, 0, 0, $op);
}


/*------------------------------------*
 * Keyframes for animation
 *------------------------------------*/
