/*******************************************************************************
 *
 * Application CSS Helpers
 *   : Organized according to [MVCSS](http://mvcss.github.io/) style.
 *
 * * Placeholder selectors
 * * Functions
 * * Mixins
 * * Keyframes for animation
 *
 ******************************************************************************/
@charset "utf-8";

/*------------------------------------*
 * Placeholder selectors
 *------------------------------------*/


/*------------------------------------*
 * Functions
 *------------------------------------*/

/**
 * Returns $size in rem.
 * rem is calicurated based on $base-font-size
 * and rounded to two decimal places.
 */
@function rem($size, $base: $base-font-size) {
  $rem: round-to(remove-unit($size) / remove-unit($base), 2);
  @return #{$rem}rem;
}

@function remove-unit($value) {
  @return $value / ($value * 0 + 1);
}

@function round-to($value, $place) {
  $decimal: 1;
  @for $i from 1 through $place {
    $decimal: $decimal * 10;
  }
  @return round(($value * $decimal)) / $decimal;
}


/*------------------------------------*
 * Mixins
 *------------------------------------*/

/* ---------- ズルい線 ---------- */
@mixin thalweg-top($black-op: .2, $white-op: .3){
  border-top: 1px solid rgba(0, 0, 0, $black-op);
  box-shadow: rgba(255, 255, 255, $white-op) 0 1px 0 inset;
}

@mixin thalweg-bottom($black-op: .2, $white-op2: .3){
  border-bottom: 1px solid rgba(0, 0, 0, $black-op);
  box-shadow: rgba(255, 255, 255, $white-op2)0 1px 0;
}

@mixin thalweg-left($black-op: .2, $white-op2: .3){
  border-left: 1px solid rgba(0, 0, 0, $black-op);
  box-shadow: rgba(255, 255, 255, $white-op2) -1px 0 0;
}

@mixin thalweg-right($black-op: .2, $op: .3){
  border-right: 1px solid rgba(0, 0, 0, $black-op);
  box-shadow: rgba(255, 255, 255, $white-op2) -1px 0 0 inset;
}

/* ---------- ズルいテキストシャドウ ---------- */
@mixin text-shadow-000($opacity : .4){
  text-shadow: 1px -1px 0 rgba(0, 0, 0, $opacity);
}

@mixin text-shadow-fff($opacity : .7){
  text-shadow: -1px 1px 0 rgba(255, 255, 255, $opacity);
}

/* ---------- ズルい枠線 ---------- */
@mixin shadow-border($shadow: .15) {
  box-shadow: rgba(0, 0, 0, $shadow) 0 0 2px;
}

/* ---------- 凹BOX ---------- */
@mixin deboss-box($border: .1, $shadow: .05, $highlight: .8) {
  border: 1px solid rgba(0, 0, 0, $border);
  box-shadow: rgba(0, 0, 0, $shadow) -1px 1px 2px inset, rgba(255, 255, 255, $highlight) -1px 1px 0;
}

/* ---------- 凸BOX ---------- */
@mixin emboss-box($border: .1, $shadow: .05, $highlight: .5) {
  border: 1px solid rgba(0, 0, 0, $border);
  box-shadow: rgba(0, 0, 0, $shadow) -1px 1px 0, rgba(255, 255, 255, $highlight) -1px 1px 0 inset;
}


/*------------------------------------*
 * Keyframes for animation
 *------------------------------------*/
