/*******************************************************************************
 *
 * Application layout CSS
 *   : Organized according to [MVCSS](http://mvcss.github.io/) style.
 *
 * アプリケーションのLayout(margin,padding,sizing,positioning)を定義するファイル。
 *
 ******************************************************************************/
@charset "utf-8";

/*
モジュールを配置していくコンテナ。
*/
%container {
  // デフォルトのレイアウト（960px〜1280px）
  display: flex;
  flex-flow: row wrap;

  @media screen and (min-width: 1280px) {
  }

  @media screen and (min-width: 640px) and (max-width: 960px) {
  }

  @media screen and (min-width: 472px) and (max-width: 640px) {
  }

  @media screen and (max-width: 472px) {
  }
}

%container-justify {
  @extend container;
  justify-content: space-between;
}


/*------------------------------------*
 * Basic Components
 *------------------------------------*/
body {
  @extend %container-justify;

  margin: auto;
  max-width: $l-max-width;
}

/* ---------- Global Header ---------- */
@import "layout/header";

.header {
  @extend %container-side-by-side;
}

/* ---------- Main ---------- */
@import "layout/main";

.main {
  flex: 1 0 65%;
  margin: 0 5% 0 0;
}

/* ---------- Sidebar ---------- */
@import "layout/sidebar";

.sidebar {
  flex: 1 0 30%;
}

/* ---------- Footer ---------- */
@import "layout/footer";

.footer {
  flex: 1 0 100%;
}


/*------------------------------------*
 * Card
 *------------------------------------*/


/*------------------------------------*
 * Cell
 *------------------------------------*/


/*------------------------------------*
 * Grid
 *------------------------------------*/


/*------------------------------------*
 * Row
 *------------------------------------*/


/*------------------------------------*
 * Utilities
 *------------------------------------*/
