/*******************************************************************************
 *
 * Application layout CSS
 *   : Organized according to [MVCSS](http://mvcss.github.io/) style.
 *
 * アプリケーションのLayout(margin,padding,sizing,positioning)を定義するファイル。
 *
 ******************************************************************************/
@charset "utf-8";

/*------------------------------------*
 * Basic Components
 *------------------------------------*/
body {
  max-width: $l-max-width;
  margin: auto;

  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

%header {
  flex: 1 100%;
}

%main {
  flex: 1 65%;
  width: 65%;
  margin: 10px;
}

%sidebar {
  flex: 1 30%;
  width: 30%;
}

%footer {
  flex: 1 100%;
}

/*------------------------------------*
 * Bucket
 *------------------------------------*/


/*------------------------------------*
 * Card
 *------------------------------------*/


/*------------------------------------*
 * Cell
 *------------------------------------*/


/*------------------------------------*
 * Grid
 *------------------------------------*/


/*------------------------------------*
 * Row
 *------------------------------------*/


/*------------------------------------*
 * Utilities
 *------------------------------------*/
