/*******************************************************************************
 *
 * Application CSS Settings
 *   : Organized according to [MVCSS](http://mvcss.github.io/) style.
 *
 * 変数値とかをまとめておくファイル。
 *
 * * @font-faceでのフォント定義
 * * 変数
 * は、ひとつのファイルにまとめといたほうが見通しがいいって。
 *
 ******************************************************************************/
@charset "utf-8";

/*------------------------------------*
 * @font-face
 *------------------------------------*/


/*------------------------------------*
 * Variables
 *------------------------------------*/

/* ----- Base Colors ----- */
$base-background: #fff;
$base-color: #222;
$base-link-color: #0053c9;

/* ----- Base Borders & Box Shadows ----- */
$base-border: 1px solid $base-color;
$base-border-radius: 3px;
$base-box-shadow: 0 1px 2px rgba($base-color, 0.25);

/* ----- Base Content ----- */
$base-font-family: 'Lucida Grande', 'YuGothic', '游ゴシック', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo', 'メイリオ', sans-serif;
$base-font-size: 16px;
$base-line-height: 1.5;

$mono-font-family: 'Monaco', 'Consolas', monospace;

/* ----- Base Layout ----- */

/* ----- Content ----- */
$c-header-font-family: $base-font-family;

$c-small-font-size:  $base-font-size / 1.2;
$c-large-font-size:  $base-font-size * 1.2;
$c-Large-font-size:  $base-font-size * 1.2 * 1.2;
$c-LARGE-font-size:  $base-font-size * 1.2 * 1.2 * 1.2;
$c-huge-font-size:   $base-font-size * 1.2 * 1.2 * 1.2 * 1.2;
$c-Huge-font-size:   $base-font-size * 1.2 * 1.2 * 1.2 * 1.2 * 1.2;

/* ----- Layout ----- */
$row-width: 1280px;
$l-max-width: 1280px;

$foreground-color: #40382e;
$background-color: #fdfdfd;

$primary-color: #40382e;
$secondary-color: #16a6b6;
$alert-color: #ee6657;
$success-color: #16a6b6;
$warning-color: #ee6557;
$info-color: #bfbfbf;
