/*
Application CSS Settings
  : Organized according to [MVCSS](http://mvcss.github.io/) style.

変数値とかをまとめておくファイル。

* @font-faceでのフォント定義
* 変数

は、ひとつのファイルにまとめといたほうが見通しがいいって。

*/
@charset "utf-8";

/*------------------------------------*
 * @font-face
 *------------------------------------*/


/*------------------------------------*
 * Variables
 *------------------------------------*/

/*
Base Colors

テキストの標準色は、`$text-color`を使用する。
背景色が必要な場合は、`$base-color`を使う。
*/
$text-color: rgb(7, 20, 26);
$base-color: #fefdfb;
$background: image-url("../images/blizzard.png");

// ヘッダやロゴ色、リンク、見出しとか。全体の20%くらいになるといい。
$main-color: rgb(42, 131, 162);

// 重要なボタンとか。全体の5%くらいになるといい。
$accent-color: rgb(163, 42, 131);

$alert-color: rgb(163, 42, 71);
$success-color: rgb(42, 163, 75);
$warning-color: rgb(163, 135, 42);
$info-color: rgb(75, 42, 163);

/* ----- Base Borders & Box Shadows ----- */

/* ----- Base Content ----- */
$base-font-family: 'Lucida Grande', 'YuGothic', '游ゴシック', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo', 'メイリオ', sans-serif;
$base-font-size: 16px;
$base-line-height: 1.5;

$mono-font-family: 'Monaco', 'Consolas', monospace;

/* ----- Base Layout ----- */

/* ----- Content ----- */
$c-header-font-family: $base-font-family;

$c-small-font-size:  $base-font-size / 1.2;
$c-large-font-size:  $base-font-size * 1.2;
$c-Large-font-size:  $base-font-size * 1.2 * 1.2;
$c-LARGE-font-size:  $base-font-size * 1.2 * 1.2 * 1.2;
$c-huge-font-size:   $base-font-size * 1.2 * 1.2 * 1.2 * 1.2;
$c-Huge-font-size:   $base-font-size * 1.2 * 1.2 * 1.2 * 1.2 * 1.2;

/* ----- Layout ----- */
$row-width: 1280px;
$l-max-width: 1280px;
