.card-articles {
  display: flex;
  justify-content: space-around;

  %card {
    width: 45%;

    padding: 8px;
    margin: 10px;
  }

  .card-article {
    @extend %card;
    @include emboss-box();

    border-radius: 6px;

    background-color: $base-color;

    position: relative;

    h1 {
        font-size: 20px;
        font-weight: bold;
        margin-top: 5px;
    }

    h2 {
      display: none;
    }

    .link-to-article {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
    }
  }
}
