@import "header/site-logo";
@import "header/menu";

#global-header {
  @extend %header;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .site-logo {
    @extend %site-logo;
  }

  .global-menu {
    @extend %menu;
  }
}
